@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: Verdana;
  background: linear-gradient(#6676AD, #101318);
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #101318;
}
::-webkit-scrollbar-thumb {
  background: #2b3245;
  border-radius: 4px;
}

.caixa__login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px #6676AD;
  border-radius: 10px;
}

.caixa__login h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.caixa__login .caixa__login-input {
  position: relative;
}

.caixa__login .caixa__login-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.caixa__login .caixa__login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.caixa__login .caixa__login-input input:focus ~ label,
.caixa__login .caixa__login-input input:valid ~ label {
  top: -20px;
  left: 0;
  color: #6676AD;
  font-size: 12px;
}

.caixa__login form .a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #6676AD;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.caixa__login .a:hover {
  background: #6676AD;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #6676AD, 0 0 25px #6676AD, 0 0 50px #6676AD,
    0 0 100px #6676AD;
}

.caixa__login .a span {
  position: absolute;
  display: block;
}

.caixa__login .a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #6676AD);
  animation: animacaoBotao1 2s linear infinite;
}

@keyframes animacaoBotao1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.caixa__login .a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #6676AD);
  animation: animacaoBotao2 2s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animacaoBotao2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.caixa__login .a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #6676AD);
  animation: animacaoBotao3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animacaoBotao3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.caixa__login .a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #6676AD);
  animation: animacaoBotao4 2s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animacaoBotao4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.loading {
  width: 120px;
  height: 120px;
  position: relative;
  margin: auto;
  background-color: #eeeeee;
  animation: spin 2s linear infinite;
  animation-direction: reverse;
  border-radius: 30px;
}
.shape {
  display: block;
  position: absolute;
  height: 20px;
  width: 40px;
  background-color: #ffffff;
  mix-blend-mode: exclusion;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.shape.shape-1 {
  animation: spin1 2s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.shape.shape-2 {
  animation: spin2 2s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.shape.shape-3 {
  animation: spin3 2s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.shape.shape-4 {
  animation: spin4 2s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.shape.shape-1 {
  top: 20px;
  left: 40px;
}
.shape.shape-2 {
  right: 20px;
  top: 40px;
  width: 20px;
  height: 40px;
}
.shape.shape-3 {
  bottom: 20px;
  left: 40px;
}
.shape.shape-4 {
  left: 20px;
  top: 40px;
  width: 20px;
  height: 40px;
}
@keyframes spin {
  100% {
    transform: rotate(90deg);
  }
}
@keyframes spin1 {
  25% {
    transform: rotate(90deg) translate(30px, -10px) scaleX(1);
  }
  100% {
    transform: rotate(90deg) translate(30px, -10px) scaleX(2);
  }
}
@keyframes spin2 {
  15% {
    transform: rotate(0deg) translate(0px) scaleY(1);
  }
  50% {
    transform: rotate(90deg) translate(10px, 30px) scaleY(1);
  }
  100% {
    transform: rotate(90deg) translate(10px, 30px) scaleY(2);
  }
}
@keyframes spin3 {
  40% {
    transform: rotate(0deg) translate(0px) scaleX(1);
  }
  75% {
    transform: rotate(90deg) translate(-30px, 10px) scaleX(1);
  }
  100% {
    transform: rotate(90deg) translate(-30px, 10px) scaleX(2);
  }
}
@keyframes spin4 {
  65% {
    transform: rotate(0deg) translate(0px) scaleY(1);
  }
  100% {
    transform: rotate(90deg) translate(-10px, -30px) scaleY(2);
  }
}

.site-footer {
  background-color: #171a23;
  padding: 5% 3%;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  justify-content: center;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.tj{
  text-align: justify;
}